<% provide(:title, 'Home') %>

<h1>YoYo Burger - Gourmet Burger Delivery</h1>

<div class="row">
  <div class="span6">.col-md-6</div>
  <div class="span6">.col-md-6</div>
</div>
<div class="center hero-unit">

  <h1>Welcome to YoYo Burger</h1>



  <h2>
    This is the home page for the YoYo Burger food ordering/delivery system.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("yoyologo.jpeg", alt: "Rails"), '' %>