<% provide(:title,'Menu Items') %>

<h1>Menu Items</h1>

<% if @menu_items.any? %>

<div class="panel-group" id="menuGroup">

	<div class="panel panel-default">

			<%= render @menu_items %>
	</div>


</div>

<%end%>

