<% provide(:title,"#{@user.first_name} #{@user.last_name}") %>

<h1>Hi <%= @user.first_name %> <%= @user.last_name %>!</h1>

<div class="">
	<% if @user.addresses.any? %>
		<h3>Addresses (<%= @user.addresses.count %>)</h3>
		<ol class="addresses">
			<%= render @addresses %>
		</ol>
	<% end %>
</div>	