<% provide(:title,"#{@user.first_name} #{@user.last_name}") %>

<h1>Hi <%= @user.first_name %>!</h1>

<div class="">
	<% if @user.addresses.any? %>
		<h2>Addresses (<%= @user.addresses.count %>)</h2>

		<div class="panel-group" id="addressesGroup">
			<%= render @addresses %>
		</div>

	<% else %>
		<h2>Please add an addres!</h2>
	<% end %>

	<%= link_to "Add Address","../addresses/new",:method=>:get, :class=>"btn btn-sm btn-default" %>
</div>	