/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .

 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face
{
  font: {
    family:'ClassicRoundMedium';
    weight:'normal';
    style:'normal';
  }
	font-family: 'ClassicRoundMedium';
	src: asset-url('ClassicRound-Medium-webfont.eot',font);
	src: asset-url('ClassicRound-Medium-webfont.eot',font) format('embedded-opentype'),
       asset-url('ClassicRound-Medium-webfont.woff',font) format('woff'),
       asset-url('ClassicRound-Medium-webfont.ttf',font) format('truetype'),
       asset-url('ClassicRound-Medium-webfont.svg',font) format('svg')
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
