
/* typography */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  font-url:('RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.topnav
{
  font-size:0.8em;
  font-color: #999999;
  background-color: #E4DCD2;
}

.homepageForms
{
  text-align:center;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}
.header{
  background-color:#F6EEE3;
}

footer ul {
  padding:0;
  float: left;
  margin-left:20px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 0px;
}

.home{
  color:#FFFFFF !important;
  &:rollover{
    background-color:#FFF;
  }
  &:hover{
    background-color: #c83a3a;

    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;

  }
}

ul.nav.navbar-nav.pull-left.whitelinks li a:link,ul.nav.navbar-nav.pull-left.whitelinks li a:visited{
  color:#FFF !important;
  font-family: "Roboto";
  
}
.bottombar{
  background-color:#B39770;

}

.footer-heading{
  color: #3b3b3b;
  font-size: 16px;
  margin-left:20px;
  background: none;
  border-bottom: none;
}

/* OLI START */

#error_explanation {
  color: #f00;
  font-size:1em;

  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  li
  {
    margin-left:0px;
  }
}

.alert 
{
  margin-bottom:5px;
  padding:0px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


.currencysymbol
{
  text-align: right;
  padding-top:4px;
  font-size:1.2em;
}

.currencyinput
{
  margin-left:0px;
  padding-left:0px;
  input
  {
    padding-left:4px;
  }
}




/* OLI END */

#powered{
  clear: both;
  background: #292929;
  padding: 15px 0;
  color: #FFFFFF;
  height:50%;
}
h1 { text-align: center };
.contact-us{
  display: block;
  float: left;
  font-size: 12px;
  margin-bottom: 17px;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}


.social-roll {
  background-image: url('Basket.png');
  height: 48px;
  width: 48px;

  float: left;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.basket{
  background-image: url('Basket.png');
  vertical-align: middle;
  display: table-cell;

}
.social-roll:hover {
  background-image: url('Basket.png');
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);

}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  display:table;
}
.navbar{
  margin-bottom:0px !important;
}

.inner {
  display: table-cell;

  vertical-align: bottom;
}
.header-wrap > div {
  height: 115px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  display:table;
}
.row{
  content: " ";
  display: table;
  margin-left: -10px;
  margin-right: -10px;
}

.row footer{
  display: table;
  width:100%;

  background-color:rgb(255,104,2);

}
.navbar{
  margin-bottom:0px !important;
}

.inner {
  display: table-cell;

  vertical-align: bottom;
}
.header-wrap > div {
  height: 115px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*George Nash, start */

.social-slide {
  background-image: url('twitterHover.png');
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.social-slide:hover {
  background-position: 0px -48px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}



.twitter {
  background-image: url('twitterHover.png');
}


.facebook {
  background-image: url('facebookHover.png');
}

/*George Nash, end */
