<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <div class="footerInside">
        <h3>About</h3>

        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus.

        <h3 class="footerLogo">YoYo Burger</h3>

        <p><span class="glyphicon glyphicon-phone-alt"></span> : 0117 930 4353</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> : 6 Byron Pl, Avon BS8 1JT</p>
        <p>e: hello@yoyoburger.co.uk</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="footerInside">
        <h3>Connect</h3>

        <div class="social-icons">
          <ul>
            <li class="facebookFooter" style="background-color: #BBBBBB">
              <a href="http://www.twitter.com/" target="_blank">Facebook</a>
            </li>

            <li class="twitterFooter" style="background-color: #BBBBBB">
              <a href="http://www.twitter.com/" target="_blank">Twitter</a>
            </li>

            <li class="googleplusFooter" style="background-color: #BBBBBB">
              <a href="http://www.twitter.com/techandallcom" target="_blank">Google+</a>
            </li>
          </ul>
        </div>

        <div class="gmaps">

          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3a3922x9T1CZwTmREE6Nc51k2lGZGtrE&sensor=false"></script>
          <script type="text/javascript" src="http://www.map-generator.org/map/iframejs/422ec153-b462-4aea-93dd-05cf1ab57b88?key=AIzaSyA3a3922x9T1CZwTmREE6Nc51k2lGZGtrE&width=300px&height=150px"></script>
          <div id ="mapid-422ec153-b462-4aea-93dd-05cf1ab57b88"></div>
        </div>


      </div>
    </div>

    <div class="col-md-4">
      <div class="footerInside">
        <h3>Newsletter</h3>

        <form class="navbar-form" role="search">
            <div class="form-group search-inner">
              <input type="text" class="form-control" placeholder="Email">
              <a href="" class="glyphicon glyphicon-chevron-right"></a>
            </div>

          </form>
      </div>
    </div>
  </div>

</div>

<div class="bottomFooter">
  <p>Copyright © Built by Team Nocturnal. All rights reserved.</p>
  <p><a href=""> Read the boring legal stuff </a></p>
</div>