<footer class="footer">
<div class="row">
  
    <div class ="col-md-4">
      <div class="footer-heading">
      Contact Us
      </div>
      <ul>
        <li>
          <span>Telephone number:</span>
        </li>
      </ul>
    </div>

    <div class ="col-md-4">
      <div class="footer-heading">
      Sitemap
      </div>
      <ul>
        <li>
          <span>Sitemap:</span>
        </li>
      </ul>
    </div>

    <div class ="col-md-4">
      <div class="footer-heading">
      Newsletter
      </div>
      <input type="email" class="input-small" placeholder="Type your email">
      </input>
      <button type="Send" class="btn btn-default btn-sm">Send</button>
    </div>
  
</div>
<div id="powered">
  <div class="container2">
    <div class="pull-left">
     Powered by Nocturnal
    </div>
    <div class="pull-right">
    Paypal
    </div>
  </div>
</div>
</footer>