<footer class="footer">
  <smll>
    <a href="">YoYo Burger</a>
    Oli is a ledge ledge
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>